@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: orange;
  transition: all 300ms;
}

a:active {
  color: red;
}

a:visited {
  color: gray;
}

a:visited:hover {
  color: orange;
  transition: all 300ms;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-avatar {
  width: 200px;
  border-radius: 25px;
}

.shadow {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card-box {
  display: flex;
}

.card-box .card:first-child {
  margin-left: 0;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.card h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

.lists .card:first-child {
  width: 35%;
}

.lists .card:last-child {
  width: 65%;
}

.plus-minus .card {
  width: 50%;
}

.plus-minus li {
  color: #394150;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
}

.plus-minus .ico {
  width: 20px;
  margin-right: 15px;
  margin-bottom: -4px;
}

@media (max-width: 750px) {
  .card-box {
    display: block;
    width: 100%;
  }

  .card {
    margin-left: 0;
  }

  .info {
    display: block;
    text-align: center;
  }

  .lists .card:first-child {
    width: 100%;
  }

  .lists .card:last-child {
    width: 100%;
  }

  .plus-minus .card {
    width: 100%;
  }

  .card-box .stats {
    width: 100%;
  }
}

.pf-box {
  border-radius: 20px;
  display: block;
  width: 100%;
}

.pf-box h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.pf-box .pf-info {
  margin-top: 20px;
}

.pf-avatar {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin: 10px 20px;
}

.pf-avatar:hover {
  transform: scale(1.5) translateX(20px);
  transition: all 2000ms ease-in-out;
}

.card-box .stats {
  width: 50%;
}

.pf-box .stats {
  text-align: center;
}

@media (max-width: 750px) {
  .pf-info {
    text-align: left;
  }
  .pf-info .table {
    width: 300px;
  }
  .pf-box h2 {
    text-align: left;
    margin-left: 40px;
  }
  .stats-hide {
    display: none;
  }

  /*  */

  .stats .table td:nth-child(1) {
    width: 110px;
  }

  .stats .table td:nth-child(2),
  .stats .table td:nth-child(3) {
    width: 100px;
  }
  .stats thead {
    font-size: 12px;
  }

  .stats table {
    width: 330px;
  }

  .stats:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .stats:last-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.form {
  margin-bottom: 45px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  margin-bottom: 10px;
}

.btn:hover {
  opacity: 0.8;
  color: orange;
  box-shadow: none;
  border: 2px solid orange;
}

.message-btn {
  position: sticky;
  bottom: 0;
  transform: translateX(0px);
  transition: all 1000ms;
}

.message-btn:hover {
  transform: translateX(550px);
  transition: all 4000ms;
}

@media (max-width: 750px) {
  .message-btn:hover {
    transition: none;
  }
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
  text-align: center;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 750px) {
  .form {
    text-align: center;
  }

  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-group label {
  display: block;
  font-style: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

/* bg-collors */
.bg-yellow {
  background: #fff9dc;
}

.bg-red {
  background: #ffe5e5;
}

.bg-green {
  background: #e5ffe7;
}

.bg-pink {
  background: #f8c3e2;
}

.bg-lblue {
  background: #a7d4ff;
}
